/USConstitution.txt.part0.data.compressed
/USConstitution.txt.part0.data.decompressed
/USConstitution.txt.part0.tree.txt
/USConstitution.txt.part1.data.compressed
/USConstitution.txt.part1.data.decompressed
/USConstitution.txt.part1.tree.txt
/USConstitution.txt.part2.data.compressed
/USConstitution.txt.part2.data.decompressed
/USConstitution.txt.part2.tree.txt
/USConstitution.txt.part3.data.compressed
/USConstitution.txt.part3.data.decompressed
/USConstitution.txt.part3.tree.txt
/USConstitution.txt.part4.data.compressed
/USConstitution.txt.part4.data.decompressed
/USConstitution.txt.part4.tree.txt
/USConstitution.txt.part5.data.compressed
/USConstitution.txt.part5.data.decompressed
/USConstitution.txt.part5.tree.txt
/USConstitution.txt.part6.data.compressed
/USConstitution.txt.part6.data.decompressed
/USConstitution.txt.part6.tree.txt
/USConstitution.txt.part7.data.compressed
/USConstitution.txt.part7.data.decompressed
/USConstitution.txt.part7.tree.txt
/USConstitution.txt.part8.data.compressed
/USConstitution.txt.part8.data.decompressed
/USConstitution.txt.part8.tree.txt
/USConstitution.txt.part9.data.compressed
/USConstitution.txt.part9.data.decompressed
/USConstitution.txt.part9.tree.txt
